<nav class="sidebar-left panel">
  <div class="panel-heading">
    <figure class="home-link image is-100x100" onclick="location.href='/'">
      <%= image_tag 'logo.svg' %>
      <h1>OutNow</h1>
    </figure>
  </div>
  <div class="panel-subheading">
    Chat
  </div>
  <% if user_signed_in? %>
    <%= render 'chatrooms/index' %>
  <% end %>
  <% if user_signed_in? %>
    <% if controller_name == "pages" %>
      <div class="side-create-wrapper">
        <%= link_to new_activity_path, remote:true, class: "button create-activity-button modal-button side-create" do %>
          <span class="icon is-large">
            <i class="fas fa-book" aria-hidden="true"></i> </span>Create Activity
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="side-create-wrapper">
      <button disabled class="button create-activity side-create">
        <span class="panel-icon">
          <i class="fas fa-book" aria-hidden="true"></i> </span>Create Activity</button>
    </div>
  <% end %>
</nav>
