<header>
  <%= render '/pages/header' %>
</header>
<body class="scrollable">
  <h1 class="editacdet">Edit Activity Details</h1>
  <div class="edit-activity-wrapper">
    <%= render 'form' %>
    <br/>
  </div>
</body>
