<header>
  <%= render '/pages/header' %>
</header>
<body class="scrollable">
  <div class="reports-wrapper columns is-centered">
    <div class="column is-4">
      <h1 class="title is-3">Report User</h1>
      <%= render 'reports/form' %>
    </div>
  </div>
</body>
