<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>
    email by <%@name%> with email <%@email%> and message:
    <%@message%>
    </p>
  </body>
</html>
